__pycache__/
*.pyc
*.pyo

.venv/
venv/
env/
.vscode/
.idea/

# artefacts locaux
data/
inputs/
outputs/
output/
logs/
*.log

# poids/ckpt/etc.
*.ckpt
*.pth
*.pt
*.onnx
*.npz
*.npy
*.zip
*.tar
*.tar.gz

models/
checkpoints/
weights/
.cache/
huggingface/
.u2net/

.DS_Store
Thumbs.db
